<!DOCTYPE html>
<html lang="{{ if .Params.LanguageCode }}{{ .Params.LanguageCode }}{{ else }}{{ .Site.LanguageCode }}{{ end }}">
<head>
{{ partial "meta/google-gtag" . }}
{{ partial "meta/google-tag-a" . }}

{{ with .Params.redirectTo }}
    <meta http-equiv="refresh" content="0; url={{ . }}">
    <script type="text/javascript">
        window.location.href = "{{ . }}"
    </script>
{{ end }}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="/favicon.png">

{{ with .Params.SEODescription }}
    <meta name="description" content="{{ . }}">
{{ end }}

{{ with .Params.SEOKeywords }}
    <meta name="keywords" content="{{ range $i, $e := . }}{{- if $i }},{{ end }}{{ $e }}{{ end }}">
{{ end }}

    <meta property="og:url" content="{{ .Permalink }}"/>

{{ if eq .Kind "page" }}
    <meta property="og:type" content="article"/>
    <meta name="twitter:card" content="summary"/>
{{ end }}

{{ with .Site.Author.twitter }}
    <meta name="twitter:site" content="@{{ . }}"/>
{{ end }}

{{ if .Title }}
    <meta property="og:title" content="{{ .Title }}"/>
    <meta name="twitter:title" content="{{ .Title }}"/>
{{ else }}
    <meta property="og:title" content="{{ .Site.Title }}"/>
    <meta name="twitter:title" content="{{ .Site.Title }}"/>
{{ end }}

{{ with .Params.SEODescription | default .Description }}
    <meta property="og:description" content="{{ . }}"/>
    <meta name="twitter:description" content="{{ . }}"/>
{{ end }}

{{ if .Params.cover }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.cover }}"/>
    <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Params.cover }}"/>
{{ else if .Site.Author.image }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Site.Author.image }}"/>
    <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Site.Author.image }}"/>
{{ end }}

{{ if .IsTranslated }}
{{ range .Translations }}
    <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}"/>
{{ end }}
{{ end }}

    <!-- Page Title -->
    <title>
    {{- block "title" . -}}
    {{ .Params.SEOTitle | default .Title }} -
    {{ .Site.Title }}
    {{- end -}}
    </title>

{{ with .Site.Params.fontAwesomeID }}
    <script src="https://use.fontawesome.com/{{ . }}.js"></script>
{{ end }}

    <script src="/js/smooth-scroll.polyfills.min.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:700|Fira+Sans" rel="stylesheet">

    <!-- Itsnear -->
    <link rel="stylesheet" href="/css/itsnear.css">
</head>
<body>
{{ partial "meta/google-tag-b" . }}
{{ block "main" . }}{{ end }}

<script>
    var scroll = new SmoothScroll('a[href*="#"]');
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>
</html>
