<!DOCTYPE html>
<html lang="{{ if .Params.LanguageCode }}{{ .Params.LanguageCode }}{{ else }}{{ .Site.LanguageCode }}{{ end }}">
<head>

{{ with .Site.Params.Analytics.Google }}
    {{ partial "analytics/google.html" .}}
{{ end }}

{{ with .Params.redirectTo }}
    <meta http-equiv="refresh" content="0; url={{ . }}">
    <script type="text/javascript">
        window.location.href = "{{ . }}";
    </script>
{{ end }}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="/favicon.png">

{{ with .Params.SEODescription }}
    <meta name="description" content="{{ . }}">
{{ end }}

{{ with .Params.SEOKeywords }}
    <meta name="keywords" content="{{ range $i, $e := . }}{{- if $i }},{{ end }}{{ $e }}{{ end }}">
{{ end }}

    <meta property="og:url" content="{{ .Permalink }}"/>

{{ if eq .Kind "page" }}
    <meta property="og:type" content="article"/>
    <meta name="twitter:card" content="summary"/>
{{ end }}

{{ with .Site.Author.twitter }}
    <meta name="twitter:site" content="@{{ . }}"/>
{{ end }}

{{ if .Title }}
    <meta property="og:title" content="{{ .Title }}"/>
    <meta name="twitter:title" content="{{ .Title }}"/>
{{ else }}
    <meta property="og:title" content="{{ .Site.Title }}"/>
    <meta name="twitter:title" content="{{ .Site.Title }}"/>
{{ end }}

{{ with .Params.SEODescription | default .Description }}
    <meta property="og:description" content="{{ . }}"/>
    <meta name="twitter:description" content="{{ . }}"/>
{{ end }}

{{ if .Params.cover }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.cover }}"/>
    <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Params.cover }}"/>
{{ else if .Site.Author.image }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Site.Author.image }}"/>
    <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Site.Author.image }}"/>
{{ end }}

{{ if .IsTranslated }}
{{ range .Translations }}
    <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}"/>
{{ end }}
{{ end }}

    <!-- Page Title -->
    <title>
    {{- block "title" . -}}
    {{ .Params.SEOTitle | default .Title }} -
    {{ .Site.Title }}
    {{- end -}}
    </title>

    <!-- Font Awesome, Pro 5 -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.1/css/regular.css"
          integrity="sha384-AKIrAHbICIQF+NEqtykrcdzMjExDiKLa9hOyUVsr4PlHtktH7xaD10vO98UnPjuE" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.1/css/brands.css"
          integrity="sha384-E5dVkWQIVhVPtBz/KK2TS7EM9l1+5XiWFPX7l3+5ayHPwDguGsHqof3GQbk55AS3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.1/css/fontawesome.css"
          integrity="sha384-bHoj6f1b1CQ6zapOREeYBO/JnDjeV1fLuKn3KHnbqAAnkLva11KY3m8YyKPVXYLF" crossorigin="anonymous">

    <script src="/js/smooth-scroll.polyfills.min.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:700|Fira+Sans" rel="stylesheet">

    <!-- Flower -->
    <link rel="stylesheet" href="/css/flower.css">
</head>
<body>
{{ block "main" . }}{{ end }}

<script>
    var scroll = new SmoothScroll('a[href*="#"]');
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
</body>
</html>
