<div class="footer jumbotron jumbotron-fluid text-center">
    ©2017
    <a href="/">SingularEva</a>
    <a href="https://twitter.com/singulareva"
       target="_blank">
        <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>

    <a href="https://www.facebook.com/singulareva"
       target="_blank">
        <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>

    <a href="https://www.instagram.com/singulareva/"
       target="_blank">
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
</div>